body{
    padding: 0px;
    margin: 0px;
    display: block;
    font-family: Times New Roman;
    background: linear-gradient(5deg,#6571ac, #6165c2, #5d58d7,#aa77c3);
}
.cabecera{
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    background: #353535;
    text-align: center;
}
h1{
  font-size: 40px;
}
.contenedor{
    padding-top: 80px;
    margin: 5%;
    background: #E1FFC3;
}
.sub{
    margin: 10px;
    padding: 10%;
    background: #FFCED8;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
}
.activo{
    margin: 10px;
    padding: 10%;
    background: #FFCED8;
    opacity: 1;
    position: relative;
}
.num{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
